@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body{
    background:white;
}
.card{
	border:none;
	align-items: center;
}
.section-padding{
    padding: 100px 0;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-Light{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
strong.str1{
    color: #A16500;
}

.navbar-light:focus{
    color: #000;
}
.navbar-brand:focus{
    color:#000;
}
.navbar-light:hover{
    color: #000;
}
.navbar-brand:hover{
    color:#000;
}
.nav-link{
    color: #A16500;
}

.navbar-light .navbar-nav .navbar-link{
color: #000;
}
.w-100{
height: 100%;
}
li.list-group-item{
    border: none;
    background-color: transparent;
}

img.card-img-top{
    width: 250px;
    height: 250px;
}

img.d-block{
    filter:grayscale(60%);
}
img.img-nav{
    border-radius: 50%;
}

h5.car-h5{
    background-color: hsla(0, 0%, 0%, 0.418);
}
h3{
    color: #BE9250;
}

.btn{
    align-items: center;
    align-content: center;
}

.profile{
    margin-top: 40px;
}

.about-us{
    font-size: 40px;
}
footer{
    background-color: white;
    color: #A16500;
}
hr{
    color: #A16500;
}

.content-text{
    color: black;
}
.content-text-vimis{
    color: white;
}

header{
    background-image: url("https://images.unsplash.com/photo-1546662608-aec5228e9a74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container-vimis{
    padding: 100px;
    background-image: url("https://images.unsplash.com/photo-1546662608-aec5228e9a74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* responsive CSS */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
    .container-vimis{
        padding: 50px;
        background-image: url("https://images.unsplash.com/photo-1546662608-aec5228e9a74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
    .container-vimis{
        padding: 20px;
        background-image: url("https://images.unsplash.com/photo-1546662608-aec5228e9a74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}