@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body{
    background: f1fbff;
}
.card{
	border:none;
	align-items: center;
}
.section-padding{
    padding: 100px 0;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-Light{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light:focus{
    color: #000;
}
.navbar-brand:focus{
    color:#000;
}
.navbar-light:hover{
    color: #000;
}
.navbar-brand:hover{
    color:#000;
}

.navbar-light .navbar-nav .navbar-link{
color: #000;
}
.w-100{
height: 100%;
}
li.list-group-item{
    border: none;
}

img.card-img-top{
    width: 250px;
    height: 250px;
}

.btn{
    align-items: center;
    align-content: center;
}

.profile{
    margin-top: 40px;
}

.about-us{
    font-size: 40px;
}

/* responsive CSS */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}